table{
    border: 2px;
}

th{
    border: 2px;
}
h1{
    border: 2px;
}
td{
    border: 2px;
}

th{
    padding: 10px;
}
td{
    padding: 10px;
}

table{
    margin: 100px 100px 100px 100px;
}

img{ 
    height: 150px;
    width: 150px;
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;
}
img{ 
    height: 150pt;
    width: 150pt; 
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;  
}img{ 
    height: 150%;
    width: 150%; 
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;  
}
img{ 
    height: 150in;
    width: 150in; 
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;
}


